html{
    scroll-behavior: smooth;
}

body{
  background-image: url('./img/dark-starry-sky-1694000.jpg');
  background-color: #cccccc;
}
#top{
    display: flex;
    flex-direction: column;
}

#title {
    text-align: center;
    padding-bottom:0px;
    margin: 0;
}

h1{
    font-size: 140px;
    color: black;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color:white;
    font-family: 'Bungee', cursive;
    text-shadow: 8px 8px  white;
}

form {
    text-align: center;
  }

#enter{
    margin-top: -150px;
    margin-bottom: 210px;
}
#enter :hover {
  cursor: pointer;
}

input[type=text] {
    width: 60%;
    height: 50px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid rgb(232, 225, 248);
    border-radius: 4px;
    font-family: monospace;
  }

  
input[type=text]:focus {
    border: 3px solid #555;
  }


  input[type=submit]{
  background-color: #fa4435; /* Red*/
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 3px;
  font-family: monospace;
  box-shadow: 2px 5px 0 darkred;
  font
  }

#list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 50px;
}


.mystyle { 
    border-radius: 5px;
    background-color: black;
    border: 4px solid white;
    color: whitesmoke;
    height: 100 px;
    flex-grow: 4px;
    flex-basis: auto;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    margin: 20px;
    box-shadow: 6px 6px 0px rgb(255, 255, 255);
    padding: 50px;
    font-family: monospace;
    font-size: 15px;
    overflow: hidden;
}

#footer{
    display: flex;
    border-top:1px solid whitesmoke;
    background-color: black;
    height: 40px;
    padding-top: 10px;
    width: 100%;
    overflow: hidden;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: underline red;

}

#footer p{
    color: black;
    font-family:  'Bungee', cursive;
    font-size: 15px;
    -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color:white;
    padding-left: 4px;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    
  }

  .tooltip:hover {
    cursor: pointer;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: red;
    color: black;
    text-align: center;
    border-radius: 2px;
    padding: 2px 0;
    font-family: monospace;
    font-weight: bold;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 105%;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }


/*shake animation from huratips*/
#spaceship:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
 
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
 
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
 
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

@media (min-width: 576px) { 

    .mystyle{
        font-size: 10px;
        flex-grow: 4px;
        word-break: break-all;
    }
 }
